# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# PyInstaller
build/
dist/

# Environment variables
.env

# VS Code
.vscode/

# IDE
.idea/
.vscode/

# Builds
build/
dist/
ENTREGAR/
*.zip

# Env
.env

ENTREGAR/
*.zip
*.exe